#sidebar {
  background-color: #05101e;
  border-right: 7px solid #364b64;
  font-family: 'Open Sans', sans-serif;
  max-width: 450px;
  width: 33%;
  height: 100%;

  h1 {
    width: 85%;
    margin: 20px auto 10px;
    .primary {
      display: block;
      font-family: 'Monoton', cursive;
      font-size: 2.35em;
      color: rgb(244, 244, 240);
      width: 90%;
      margin: 0 auto;
      &.two {
        margin-top: -20px;
        margin-left: 50px;
      }
    }
  }
}
